.error-page {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

<<<<<<< HEAD
	.img-404 {
		width: 40%;
		margin: var(--margin-2xl) auto;

		@include media-breakpoint-down(sm) {
			width: 80%;
		}
=======
	p,
	h4 {
		color: var(--text-light);
>>>>>>> fc1c3f895a2bbd99dd7a0574de180a4095b6e41b
	}

	h4 {
		text-align: center;
		margin-top: 0px;
	}

	.details {
		border-top: 1px solid var(--border-color);
		margin-top: var(--margin-md);
		padding-top: var(--padding-md);
		max-width: 800px;
		text-align: center;
	}
}
