:root {
	// Input Padding
	--input-padding: 6px 8px;
	--dropdown-padding: 4px 8px;
	--grid-padding: 10px 8px;
<<<<<<< HEAD
	--disabled-input-padding: 3px 8px;
=======
>>>>>>> fc1c3f895a2bbd99dd7a0574de180a4095b6e41b
	--number-card-padding: 8px 8px 8px 12px;
}
